# Pandas Answer sheet

In [20]:
import pandas as pd
boston = pd.read_csv("../data/boston_dataset.csv")

### Exercise 1
(4 steps)

| Account holder | Account number | Balance |
| --- | --- | --- |
| Kenneth Effe | 3421 1242 3232 5324 | 232.2 |
| James Chang | 7583 0274 7537 9613 | 405.37 |
| Ralph Mallets | 8534 7319 4697 1254 | 342.65 |

In [10]:
#step 1
data = {
    'Account holder': ['Kenneth Effe', 'James Chang', 'Ralph Mallets'],
    'Account number': ['3421 1242 3232 5324', '7583 0274 7537 9613', '8534 7319 4697 1254'],
    'Balance': [232.2, 405.37, 342.65]
}

bankaccounts = pd.DataFrame(data)

#step 2: set first column as index
bankaccounts = bankaccounts.set_index('Account holder')

#step 3: locate Ralph's account number and balance.
located_account = bankaccounts.loc['Ralph Mallets']

print(located_account)

print()

#step 4: calculate sum and average of the balances
sum = bankaccounts['Balance'].sum()
avg = bankaccounts['Balance'].mean()
print('sum:',sum)
print('average:',avg)

Account number    8534 7319 4697 1254
Balance                        342.65
Name: Ralph Mallets, dtype: object

sum: 980.2199999999999
average: 326.73999999999995

### Exercise 2: print first five rows and last five rows of the boston data set

In [21]:
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [22]:
boston.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

### Exercise 3
Above we select row 222 using ```.iloc```. What we get is a Series. How can we edit the cell above to get a DataFrame instead?

Bonus question: and how can we use ```.iloc``` to select both row 222 and 223?

In [23]:
row = boston.iloc[[222, 223]]

row

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
222,0.62356,0.0,6.2,1,0.507,6.879,77.7,3.2721,8,307,17.4,390.39,9.93,27.5
223,0.61470,0.0,6.2,0,0.507,6.618,80.8,3.2721,8,307,17.4,396.90,7.60,30.1

### Exercise 4: Print all rows where NOX is greater than 0.4.

In [28]:
boston[boston['NOX'] > 0.4].head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

### Exercise 5:  Sort the rows by lowest crime rate (CRIM), then by lowest tax (TAX) and finally by lowest nitrox concentration (NOX)

In [27]:
boston.sort_values(by=['CRIM', 'TAX', 'NOX']).head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
284,0.00906,90.0,2.97,0,0.400,7.088,20.8,7.3073,1,285,15.3,394.72,7.85,32.2
285,0.01096,55.0,2.25,0,0.389,6.453,31.9,7.3073,1,300,15.3,394.72,8.23,22.0
341,0.01301,35.0,1.52,0,0.442,7.241,49.3,7.0379,1,284,15.5,394.74,5.49,32.7
55,0.01311,90.0,1.22,0,0.403,7.249,21.9,8.6966,5,226,17.9,395.93,4.81,35.4

### Challenge 1: Find the most expensive house that tracts the Charles River.

In [34]:
row_index = boston[boston['CHAS'] == 1]['MEDV'].idxmax()

print("Row number: ", row_index)
print()
print(boston.iloc[row_index])

Row number:  162

CRIM         1.83377
ZN           0.00000
INDUS       19.58000
CHAS         1.00000
NOX          0.60500
RM           7.80200
AGE         98.20000
DIS          2.04070
RAD          5.00000
TAX        403.00000
PTRATIO     14.70000
B          389.61000
LSTAT        1.92000
MEDV        50.00000
Name: 162, dtype: float64

### Challenge 2: Find the average nitric oxides concentration (NOX).

In [35]:
boston['NOX'].mean()

0.5546950592885372

### Challenge 3:  
Sort the rows by:

  - highest median value (MEDV) (descending order)
  - then by lowest tax (TAX) (ascending order)
  - and finally by highest average number of rooms per house (RM) (descending order)

In [36]:
boston.sort_values(by=['MEDV', 'TAX', 'RM'], ascending=[False, True, False])

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
186,0.05602,0.0,2.46,0,0.4880,7.831,53.6,3.1992,3,193,17.8,392.63,4.45,50.0
283,0.01501,90.0,1.21,1,0.4010,7.923,24.8,5.8850,1,198,13.6,395.52,3.16,50.0
204,0.02009,95.0,2.68,0,0.4161,8.034,31.9,5.1180,4,224,14.7,390.55,2.88,50.0
195,0.01381,80.0,0.46,0,0.4220,7.875,32.0,5.6484,4,255,14.4,394.23,2.97,50.0
257,0.61154,20.0,3.97,0,0.6470,8.704,86.9,1.8010,5,264,13.0,389.70,5.12,50.0
267,0.57834,20.0,3.97,0,0.5750,8.297,67.0,2.4216,5,264,13.0,384.54,7.44,50.0
225,0.52693,0.0,6.20,0,0.5040,8.725,83.0,2.8944,8,307,17.4,382.00,4.63,50.0
163,1.51902,0.0,19.58,1,0.6050,8.375,93.9,2.1620,5,403,14.7,388.45,3.32,50.0
166,2.01019,0.0,19.58,0,0.6050,7.929,96.2,2.0459,5,403,14.7,369.30,3.70,50.0
162,1.83377,0.0,19.58,1,0.6050,7.802,98.2,2.0407,5,403,14.7,389.61,1.92,50.0
161,1.46336,0.0,19.58,0,0.6050,7.489,90.8,1.9709,5,403,14.7,374.43,1.73,50.0
370,6.53876,0.0,18.10,1,0.6310,7.016,97.5,1.2024,24,666,20.2,392.05,2.96,50.0
369,5.66998,0.0,18.10,1,0.6310,6.683,96.8,1.3567,24,666,20.2,375.33,3.73,50.0
371,9.23230,0.0,18.10,0,0.6310,6.216,100.0,1.1691,24,666,20.2,366.15,9.53,50.0
372,8.26725,0.0,18.10,1,0.6680,5.875,89.6,1.1296,24,666,20.2,347.88,8.88,50.0
368,4.89822,0.0,18.10,0,0.6310,4.970,100.0,1.3325,24,666,20.2,375.52,3.26,50.0
262,0.52014,20.0,3.97,0,0.6470,8.398,91.5,2.2885,5,264,13.0,386.86,5.91,48.8
203,0.03510,95.0,2.68,0,0.4161,7.853,33.2,5.1180,4,224,14.7,392.78,3.81,48.5
233,0.33147,0.0,6.20,0,0.5070,8.247,70.4,3.6519,8,307,17.4,378.95,3.95,48.3
228,0.29819,0.0,6.20,0,0.5040,7.686,17.0,3.3751,8,307,17.4,377.51,3.92,46.7
282,0.06129,20.0,3.33,1,0.4429,7.645,49.7,5.2119,5,216,14.9,377.07,3.01,46.0
280,0.03578,20.0,3.33,0,0.4429,7.820,64.5,4.6947,5,216,14.9,387.31,3.76,45.4
224,0.31533,0.0,6.20,0,0.5040,8.266,78.3,2.8944,8,307,17.4,385.05,4.14,44.8
256,0.01538,90.0,3.75,0,0.3940,7.454,34.2,6.3361,3,244,15.9,386.34,3.11,44.0
98,0.08187,0.0,2.89,0,0.4450,7.820,36.9,3.4952,2,276,18.0,393.53,3.57,43.8
268,0.54050,20.0,3.97,0,0.5750,7.470,52.6,2.8720,5,264,13.0,390.30,3.16,43.5
261,0.53412,20.0,3.97,0,0.6470,7.520,89.4,2.1398,5,264,13.0,388.37,7.26,43.1
253,0.36894,22.0,5.86,0,0.4310,8.259,8.4,8.9067,7,330,19.1,396.90,3.54,42.8
202,0.02177,82.5,2.03,0,0.4150,7.610,15.7,6.2700,2,348,14.7,395.38,3.11,42.3
232,0.57529,0.0,6.20,0,0.5070,8.337,73.3,3.8384,8,307,17.4,385.91,2.47,41.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,24.39380,0.0,18.10,0,0.7000,4.652,100.0,1.4672,24,666,20.2,396.90,28.28,10.5
380,88.97620,0.0,18.10,0,0.6710,6.968,91.9,1.4165,24,666,20.2,396.90,17.21,10.4
417,25.94060,0.0,18.10,0,0.6790,5.304,89.1,1.6475,24,666,20.2,127.36,26.64,10.4
379,17.86670,0.0,18.10,0,0.6710,6.223,100.0,1.3861,24,666,20.2,393.74,21.78,10.2
426,12.24720,0.0,18.10,0,0.5840,5.837,59.7,1.9976,24,666,20.2,24.65,15.69,10.2
388,14.33370,0.0,18.10,0,0.7000,4.880,100.0,1.5895,24,666,20.2,372.92,30.62,10.2
392,11.57790,0.0,18.10,0,0.7000,5.036,97.0,1.7700,24,666,20.2,396.90,25.68,9.7
436,14.42080,0.0,18.10,0,0.7400,6.461,93.3,2.0026,24,666,20.2,27.49,18.05,9.6
429,9.33889,0.0,18.10,0,0.6790,6.380,95.6,1.9682,24,666,20.2,60.72,24.08,9.5
418,73.53410,0.0,18.10,0,0.6790,5.957,100.0,1.8026,24,666,20.2,16.45,20.62,8.8
384,20.08490,0.0,18.10,0,0.7000,4.368,91.2,1.4395,24,666,20.2,285.83,30.63,8.8
437,15.17720,0.0,18.10,0,0.7400,6.152,100.0,1.9142,24,666,20.2,9.32,26.45,8.7
397,7.67202,0.0,18.10,0,0.6930,5.747,98.9,1.6334,24,666,20.2,393.10,19.92,8.5
404,41.52920,0.0,18.10,0,0.6930,5.531,85.4,1.6074,24,666,20.2,329.46,27.38,8.5
419,11.81230,0.0,18.10,0,0.7180,6.824,76.5,1.7940,24,666,20.2,48.45,22.74,8.4
438,13.67810,0.0,18.10,0,0.7400,5.935,87.9,1.8206,24,666,20.2,68.95,34.02,8.4
425,15.86030,0.0,18.10,0,0.6790,5.896,95.4,1.9096,24,666,20.2,7.68,24.39,8.3
403,24.80170,0.0,18.10,0,0.6930,5.349,96.0,1.7028,24,666,20.2,396.90,19.77,8.3
490,0.20746,0.0,27.74,0,0.6090,5.093,98.0,1.8226,4,711,20.1,318.43,29.68,8.1
416,10.83420,0.0,18.10,0,0.6790,6.782,90.8,1.8195,24,666,20.2,21.57,25.79,7.5
387,22.59710,0.0,18.10,0,0.7000,5.000,89.5,1.5184,24,666,20.2,396.90,31.99,7.4
415,18.08460,0.0,18.10,0,0.6790,6.434,100.0,1.8347,24,666,20.2,27.25,29.05,7.2
401,14.23620,0.0,18.10,0,0.6930,6.343,100.0,1.5741,24,666,20.2,396.90,20.32,7.2
385,16.81180,0.0,18.10,0,0.7000,5.277,98.1,1.4261,24,666,20.2,396.90,30.81,7.2
414,45.74610,0.0,18.10,0,0.6930,4.519,100.0,1.6582,24,666,20.2,88.27,36.98,7.0
489,0.18337,0.0,27.74,0,0.6090,5.414,98.3,1.7554,4,711,20.1,344.05,23.97,7.0
399,9.91655,0.0,18.10,0,0.6930,5.852,77.8,1.5004,24,666,20.2,338.16,29.97,6.3
400,25.04610,0.0,18.10,0,0.6930,5.987,100.0,1.5888,24,666,20.2,396.90,26.77,5.6
405,67.92080,0.0,18.10,0,0.6930,5.683,100.0,1.4254,24,666,20.2,384.97,22.98,5.0
398,38.35180,0.0,18.10,0,0.6930,5.453,100.0,1.4896,24,666,20.2,396.90,30.59,5.0